/* Contenedor general */
.waiting-container {
  width: 100vw;
  height: 100vh;
  background-color: #fff; /* Fondo blanco */
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Barra roja superior */
.header-bar {
  width: 100%;
  background-color: #163197;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

/* Logo Scotia (ajusta el tamaño a tu gusto) */
.logo-scotia {
  height: 69px;
  width: auto;
}

/* Tarjeta central */
.waiting-card {
  max-width: 400px;
  width: 90%;
  margin: 20px auto; /* Centra horizontalmente */
  text-align: center;
}

/* Subtítulo "Avatar IA" */
.subtitle {
  font-size: 24px;
  color: #163197;
  font-weight: bold;
  margin: 15px 0;
}

.subtitleResult {
  font-size: 21px;
  color: #163197;
  font-weight: bold;
  margin: 15px 0;
}

/* Texto de espera */
.waiting-text {
  color: #163197;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 30px;
}

/* Cuando la imagen está lista */
.subtitle-wait {
  color: #163197;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
}

.ready-text {
  color: #555;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Formulario */
.waiting-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Inputs con borde rojo y texto rojo */
.input {
  width: 100%;
  max-width: 300px;
  margin: 10px 0;
  padding: 12px;
  border: 2px solid #163197;
  border-radius: 8px;
  background-color: #fff;
  color: #163197;
  font-size: 16px;
  outline: none;

  /* Placeholder en rojo más claro (opcional) */
  &::placeholder {
    color: #163197;
    opacity: 0.7;
  }
}

/* Checkbox y su contenedor */
.checkbox-container {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-top: 10px;
  color: #163197;
  gap: 5px;
  width: 80%;
  margin: 10px auto;

  span {
    font-size: 9px;
  }
}

.checkbox {
  margin-right: 0;
  border-radius: 4px;
  width: 15px !important;
  height: 15px !important;
  min-width: 15px;
  appearance: none;
  background: #ffffff;
  display: flex;
  justify-content: center;
  color: #163197;
  border: double;
}

.checkbox:checked:before {
  background-color: #163197;
  content: "";
  width: 13px;
  height: 10px;
  display: flex;

  justify-content: center;
  align-content: center;
  align-self: center;
}

/* Botón para "Ver avatar" */
.button {
  width: 200px;
  height: 50px;
  margin: 20px auto 0 auto;
  background-color: #163197;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 4px 10px #f5c336;
}
